In [64]:
#Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import os
import time

In [65]:
from splinter import Browser
from urllib.parse import urlsplit
from splinter.exceptions import ElementDoesNotExist

In [66]:
#Set up windows path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [67]:
#nasa URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [68]:
# Scrape page into soup
html = browser.html
soup = bs(html, 'html.parser')

In [69]:
#pull title and paragraph
news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: Mars New Home 'a Large Sandbox'
Para: With InSight safely on the surface of Mars, the mission team is busy learning more about the spacecraft's landing site.

In [70]:
#Visit the url for JPL Featured Space Image
jpl_url = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(jpl_url))
print(base_url)

https://jpl.nasa.gov/

In [71]:
#Establish xpath
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [72]:
#Use splinter to get full res image
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()

In [73]:
#Retreive image urls
html_image = browser.html
soup = bs(html_image, "html.parser")
image_url = soup.find("img", class_="fancybox-image")["src"]
full_image_url = base_url + image_url
print(full_image_url)

https://jpl.nasa.gov//spaceimages/images/largesize/PIA22860_hires.jpg

In [74]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [75]:
#scrape
html_weather = browser.html
soup = bs(html_weather, "html.parser")
#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Well done! That 30 minutes of EDL dust settling was very effective. Shame #InSight can’t act as a supercharger for @marsrovers Oppy, she sure could use a boost right now.https://twitter.com/NASAInSight/status/1068661716756516864 …

In [76]:
#mars facts url
mars_facts = "https://space-facts.com/mars/"

In [77]:
#retreive table
table = pd.read_html(mars_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [78]:
#sort by fact and value
mars_df = table[0]
mars_df.columns = ["Fact", "Value"]
mars_df.set_index(["Fact"])

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [79]:
#Convert to HTML string
mars_html = mars_df.to_html()
mars_html = mars_df.replace("\n", "")
mars_html

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [80]:
#Mars Hempisphere URL
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemisphere_url)

In [81]:
#soup
html_hemis = browser.html
soup_hemis = bs(html_hemis, 'html.parser')

In [89]:
hemis_links = soup_hemis.find_all('a', class_="itemLink product-item")

In [83]:
print(hemis_links)

[<a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"/></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/cerberus_enhanced"><h3>Cerberus Hemisphere Enhanced</h3></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/7677c0a006b83871b5a2f66985ab5857_schiaparelli_enhanced.tif_thumb.png"/></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/schiaparelli_enhanced"><h3>Schiaparelli Hemisphere Enhanced</h3></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/aae41197e40d6d4f3ea557f8cfe51d15_syrtis_major_enhanced.tif_thumb.png"/></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/syrtis_major_enhanced"><h3>Syrtis Major Hemisphere Enhanced</h3></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="/cache/images/04085d99ec3713883a9a57f42be9c725_valles_marineris_enhanced.tif_thumb.png"/></a>, <a class="itemLink product-item" href="/search/map/Mars/Viking/valles_marineris_enhanced"><h3>Valles Marineris Hemisphere Enhanced</h3></a>]

In [84]:
#Verify number of image links
links = browser.find_by_css("a.product-item")
number = len(links)
number

8

In [85]:
#create table
hemisphere_images = []

In [87]:
#Python code with loop
for i in range (number):
    hemisphere = {}
    i = i + 1
    
    print(i)
    try:
        browser.find_by_css('a.product-item')[i].click()
        
    except:
        continue
    
    hemi_href = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = hemi_href['href']
    hemisphere['title'] = browser.find_by_css('h2.title').text
    
    hemisphere_images.append(hemisphere)
    print(i)
    browser.back()

1
1
2
3
3
4
5
5
6
7
7
8

In [88]:
#flat url
hemisphere_images

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]