In [9]:
#Dependencies
import pandas as pd
from bs4 import BeautifulSoup as bs
import os
import time

In [10]:
from splinter import Browser
from urllib.parse import urlsplit

In [11]:
#Set up windows path
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
#nasa URL
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [14]:
# Scrape page into soup
html = browser.html
soup = bs(html, 'html.parser')

In [15]:
#pull title and paragraph
news_title = soup.find("div",class_="content_title").text
news_paragraph = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Para: {news_paragraph}")

Title: Mars New Home 'a Large Sandbox'
Para: With InSight safely on the surface of Mars, the mission team is busy learning more about the spacecraft's landing site.

In [16]:
#Visit the url for JPL Featured Space Image
jpl_url = "https://jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
base_url = "{0.scheme}://{0.netloc}/".format(urlsplit(jpl_url))
print(base_url)

https://jpl.nasa.gov/

In [17]:
#determine xpath by finding it in the markup
xpath = "//*[@id=\"page\"]/section[3]/div/ul/li[1]/a/div/div[2]/img"

In [18]:
#Use splinter to get full res image
results = browser.find_by_xpath(xpath)
image = results[0]
image.click()

In [19]:
html_image = browser.html
soup = bs(html_image, "html.parser")
image_url = soup.find("img", class_="fancybox-image")["src"]
full_image_url = base_url + image_url
print(full_image_url)

https://jpl.nasa.gov//spaceimages/images/largesize/PIA22860_hires.jpg

In [20]:
#get mars weather's latest tweet from the website
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)

In [21]:
html_weather = browser.html
soup = bs(html_weather, "html.parser")
#temp = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)
#temp

Well done! That 30 minutes of EDL dust settling was very effective. Shame #InSight can’t act as a supercharger for @marsrovers Oppy, she sure could use a boost right now.https://twitter.com/NASAInSight/status/1068661716756516864 …

In [22]:
mars_facts = "https://space-facts.com/mars/"

In [23]:
table = pd.read_html(mars_facts)
table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
mars_df = table[0]
mars_df.columns = ["Fact", "Value"]
mars_df.set_index(["Fact"])

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [31]:
#Convert to HTML string
mars_html = mars_df.to_html()
mars_html = mars_df.replace("\n", "")
mars_html

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [33]:
#Mars Hempisphere
hemisphere_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemisphere_url)

In [35]:
hembase_url = "{0.scheme}://{0.netloc}/".format(urlsplit(hemisphere_url))
print(hembase_url)

https://astrogeology.usgs.gov/